.bodegaB {
  border-radius: 100%;
  height: 400px;
  width: 400px;
  object-fit: cover;
  border: solid 5px rgba(140, 17, 192, 0.514);
}

hr {
  color: rgba(140, 17, 192, 0.514);
}

.imgs-carousel {
  height: 600px;
  width: 900px;
  object-fit: cover;
}
